/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
   Phase Two Styles
   
   I am sorry 
   These are my variables
   It is just
   That I hate webpack
   So much
   So very much
   And I cannot
   
   Background Color: rgb(247, 247, 247)
   Main Text Color: rgb(0, 0, 0)
   Page Background: rgb(255, 255, 255)
   Sub Text Color: rgba(0, 0, 0, 0.3)
   
   Accent Orange: rgb(237, 147, 50)
   Accent Blue: rgb(71, 118, 171)
*/

body {
  background: rgb(247, 247, 247);
  color: rgb(0, 0, 0);
  font-family: 'Nunito Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 400;
  font-size: 17px;
  line-height: 1.5;
}

h1{
  font-weight: 200;
}

.container {
  position: relative;
  z-index: 2;
  margin: 0 auto;
  padding: 50px 50px 20px 50px;
  max-width: 660px;
  background: rgb(255, 255, 255);
  box-shadow: -1px -1px 0 rgba(0, 0, 0, 0.05), 4px 4px 0 rgba(0, 0, 0, 0.05), 1px 1px 0 rgba(0, 0, 0, 0.05);
}

h1.title {
  margin: -0.3em 0 0 0;
  font-size: 36px;
}

p.date {
  margin: -0.25em 0 0 0;
  color: rgba(0, 0, 0, 0.3);
}

h2 {
  margin: 3em 0 0.5em;
  font-weight: 700;
  font-size: 22px;
}

h3 {
  margin: 2em 0 -0.5em;
  font-weight: 400;
  font-size: 22px;
}
h3 a {
  font-weight: 400;
}

p {
  margin: 1.5em 0;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

a {
  color: rgb(71, 118, 171);
  font-weight: 600;
  text-decoration: underline;
}

ol {
  margin: 1em 0 1em 1.5em;
}
ol>li {
  margin: 1em 0 0 0;
}

ul {
  margin: 1em 0 1em 1.5em;
  list-style-type: none;
}
ul>li {
  position: relative;
}
ul>li:before {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  color: rgba(0, 0, 0, 0.3);
  content: '-';
  text-indent: -20px;
}

hr {
  margin: 30px 0 35px 0;
  text-align: center;
  letter-spacing: 3px;
  font-size: 16px;
  font-family: monospace;
  color: rgba(0, 0, 0, 0.2);
  border: none;
}
hr:before {
  content: '* * * * * *';
}

blockquote {
  margin: 1em 0 1em 0;
  padding: 0 0 0 15px;
  font-style: italic;
  border-left: 2px solid #ccc;
}
blockquote p {
  margin: 12px 0;
  color: #999;
}

header {
  position: relative;
  overflow: hidden;
  height: 500px;
  margin-bottom: -400px;
  z-index: 1;
}

header .shape {
  position: absolute;
  top: -500px;
  width: 200%;
  height: 500px;
  transform-origin: bottom left;
  transform: rotate(10deg) translate(0, 0);
  background: rgb(237, 147, 50);
  box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.05);
}

footer {
  position: relative;
  overflow: hidden;
  height: 1000px;
  margin-top: -900px;
  z-index: 1;
}
footer p.tagline {
  z-index: 1;
  width: 100%;
  position: absolute;
  bottom: 40px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 800;
  color: rgba(255, 255, 255, 0.25);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.07);
}
footer p.tagline .inner {
  display: block;
  margin: 0 auto;
  max-width: 760px;
}
footer .shape {
  z-index: 0;
  position: absolute;
  bottom: -1000px;
  left: -100%;
  width: 200%;
  height: 1000px;
  background: rgb(71, 118, 171);
  transform-origin: top right;
  transform: rotate(30deg);
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}


.homepage .latest h1 a {
  color: #000;
  text-decoration: none;
}
.homepage .latest a.continue {
  font-weight: bold;
}
.homepage .latest p.date {
  margin-top: 45px;
}

.homepage .latest, .homepage .mini-archive, .homepage .library, .homepage .charity {
  margin: 45px 0;
  border-top: 1px solid #ddd;
}

.mini-archive .date {
  margin: 2em 0 0 0;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}
.mini-archive .title {
  margin: 0;
  font-weight: bold;
}

ul.books{
  margin-left: 0;
}
ul.books>li {
  margin: 1em 0;
  list-style-type: none;
}
ul.books>li:before {
  display: none;
  content: ""
}
ul.books h3 {
  margin: 0;
  font-weight: normal;
  text-decoration: underline;
}
ul.books h3 a {
  color: inherit;
}
ul.books p.author {
  margin: 0;
  font-style: italic;
}


ul.nonprofits{
  padding-left: 20px;
  margin-left: 0;
  margin-bottom: 45px;
  border-left: 4px solid #ddd;
}
ul.nonprofits>li {
  margin: 1em 0;
  list-style-type: none;
}
ul.nonprofits>li:before {
  display: none;
  content: ""
}
ul.nonprofits h3 {
  margin: 0;
  font-weight: bold;
}
ul.nonprofits p {
  margin: 0;
  font-style: italic;
}
ul.nonprofits p a {
  color: #000;
}

.post-content img, .page-content img {
  max-width: 100%;
  min-width: 100%;
}

code{
  padding: 0 4px;
  font-family: "Source Code Pro", "Courier New", Courier, sans-serif;
  font-size: 0.9em;
  color: #556270;
  background: #F4FAFF;
  border-radius: 3px;
}
pre code {
  padding: 0;
  color: inherit;
  background: inherit;
  border-radius: 0;
}
code span.global {
  color: #3388DD;
}
code span.brackets {
  color: #777777;
}
code span.string {
  color: #BC6710;
}
code span.symbol, code span.selectors {
  color: #1199EE;
}
code span.properties {
  color: #BB4411;
}
code span.keywords {
  color: #44BB22;
}
code span.comment {
  color: #BCBCBC;
}
code span.shell {
  background:#f1f1f1;
}

code.html span.tag, code.xaml span.tag {
  color: #BB4411;
}
code.html span.attribute, code.xaml span.attribute {
  color: #44BB22;
}
code.html span.string, code.xaml span.string {
  color: blue;
}
code.html span.comment, code.xaml span.comment {
  color: #999999;
}
code.html span.doctype {
  color: #D7FF80;
}

table {
  width: 100%;
  border-top: 1px solid #CCCCCC;
  border-bottom: 2px solid #CCC;
  color: #000;
  background: #fff;
  border-collapse: separate;
  font-size: 16px;
}

th {
  text-align: center;
  padding: 5px;
}

td {
  text-align: left;
  padding: 5px 8px;
}
tr:nth-child(odd) td {
  background: #F5F5F5;
}
