/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
   Phase Two Styles
   
   I am sorry 
   These are my variables
   It is just
   That I hate webpack
   So much
   So very much
   And I cannot
   
   Background Color: rgb(247, 247, 247)
   Main Text Color: rgb(0, 0, 0)
   Page Background: rgb(255, 255, 255)
   Sub Text Color: rgba(0, 0, 0, 0.3)
   Highlight Color: rgba(229, 189, 94, 0.5)
   
   Accent Orange: rgb(237, 147, 50)
   Accent Blue: rgb(71, 118, 171)
   Accent Yellow: rgb(229, 189, 94)
   Accent Brown: rgb(95, 79, 24)
*/

body {
  background: rgb(247, 247, 247);
  color: rgb(0, 0, 0);
  font-family: 'Nunito Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 400;
  font-size: 17px;
  line-height: 1.5;
}

h1{
  font-weight: 200;
}

.container {
  position: relative;
  z-index: 4;
  margin: 0 auto;
  padding: 45px 50px 20px 50px;
  max-width: 660px;
  background: rgb(255, 255, 255);
  box-shadow: -1px -1px 0 rgba(0, 0, 0, 0.05), 4px 4px 0 rgba(0, 0, 0, 0.05), 1px 1px 0 rgba(0, 0, 0, 0.05);
}
.container + .container {
  margin-top: 50px;
}
@media only screen and (max-width: 825px) {
  .container {
    margin: 0;
    max-width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
  .container + .container {
    margin-top: 0;
  }
}
@media only screen and (max-width: 500px) {
  .container {
    padding: 25px 25px 10px 25px;
  }
  
}

h1.title {
  margin: -0.1em 0 0 0;
  font-size: 36px;
}

p.date {
  margin: -0.25em 0 0 0;
  color: rgba(0, 0, 0, 0.3);
}

h2 {
  margin: 3em 0 0.5em;
  font-weight: 700;
  font-size: 22px;
}

h3 {
  margin: 2em 0 -0.5em;
  font-weight: 400;
  font-size: 22px;
}
h3 a {
  font-weight: 400;
  color: rgb(0, 0, 0);
}

p {
  margin: 1.5em 0;
}

em {
  font-style: italic;
}
em.highlight {
  padding: 0 5px;
  background: rgba(229, 189, 94, 0.3);
  border-radius: 2px;
}

strike {
  color: rgba(95, 79, 24, 0.25);
}

strong {
  font-weight: bold;
}

a {
  color: rgb(71, 118, 171);
  font-weight: 600;
  text-decoration: underline;
}

ol {
  margin: 1em 0 1em 1.5em;
}
ol>li {
  margin: 1em 0 0 0;
}

ul {
  margin: 1em 0 1em 1.5em;
  list-style-type: none;
}
ul ul {
  margin-top: 0.5em;
}
ul>li {
  position: relative;
}
ul>li:before {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  color: rgba(0, 0, 0, 0.3);
  content: '-';
  text-indent: -20px;
}
.task-list-item-checkbox {
  margin-left: -0.5em;
  margin-right: 0.5em;
}

hr {
  margin: 30px 0 35px 0;
  text-align: center;
  letter-spacing: 3px;
  font-size: 13px;
  font-family: monospace;
  color: rgba(0, 0, 0, 0.2);
  border: none;
}
hr:before {
  content: '* * * * * *';
}
hr + h2 {
  margin-top: 0;
}

blockquote {
  margin: 1em 0 1em 0;
  padding: 0 0 0 15px;
  font-style: italic;
  border-left: 2px solid #ccc;
}
blockquote p {
  margin: 12px 0;
  color: #999;
}
blockquote.pull {
  font-size: 28px;
  font-family: Palatino, serif;
  font-style: italic;
  border-left: none;
  text-align: center;
}
blockquote.pull p {
  color: #000;
}

header {
  position: relative;
  overflow: hidden;
  height: 300px;
  margin-bottom: -250px;
  z-index: 1;
}
@media only screen and (max-width: 1015px) {
  header {
    height: 330px; 
  }
}

header .shape {
  position: absolute;
  top: -50px;
  width: 200%;
  left: -100px;
  height: 200px;
  z-index: 0;
  rotate: 3deg;
  background: rgb(237, 147, 50);
  box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.05);
}

.logo-wrap {
  z-index: 2;
  position: relative;
  left: -96px;
  width: 760px;
  margin: 0 auto;
  transition: left 0.25s;
}
.logo {
  z-index: 2;
  position: fixed;
  top: 155px;
  width: 56px;
  padding-top: 168px;
  height: 1000%;
  background: rgb(255, 255, 255);
  box-shadow: -1px -1px 0 rgba(0, 0, 0, 0.05), 4px 4px 0 rgba(0, 0, 0, 0.05), 1px 1px 0 rgba(0, 0, 0, 0.05);
}
.logo:hover {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: -1px -1px 0 rgba(0, 0, 0, 0.1), 4px 4px 0 rgba(0, 0, 0, 0.1), 1px 1px 0 rgba(0, 0, 0, 0.1);
}
.logo a{
  display: block;
  width: 145px;
  height: 56px;
  padding: 0 20px 0 0;
  overflow: hidden;
  text-decoration: none; 
  text-align: right;
  text-shadow: none;
  transform-origin: top left;
  transform: rotate(-90deg);
}
#logo-svg {
  fill: rgb(0, 0, 0);
}

@media only screen and (max-width: 1015px) {
  .logo-wrap {
    position: absolute;
    left: -690px;
    top: 10px;
    transform: scale(0.75);
  }
  .logo {
    position: relative;
    width: 1000px;
    height: 56px;
    padding: 0;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.85);
  }
  .logo:hover {
    background: rgba(255, 255, 255, 1.0);
  }
  .logo a{
    float: right;
    transform: rotate(0deg);
  }
}

@media only screen and (max-width: 450px) {
  .logo-wrap {
    left: -740px;
  }
}

nav {
  position: relative;
  z-index: 1;
  margin: 0 auto;
  max-width: 760px;
}
nav .bar {
  display: block;
  position: relative;
  left: 760px;
  width: 200000px;
  height: 15px;
  background: rgb(95, 79, 24);
}
nav ul.nav {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
}
@media only screen and (max-width: 825px) {
  nav ul.nav {
    top: 2px;
    right: 15px;
  }
}
nav ul.nav>li {
  float: left;
  margin: 0 0 0 25px;
  padding: 0;
}
@media only screen and (max-width: 450px) {
  nav ul.nav>li {
    margin-left: 15px;
  }
}
nav ul.nav>li:before {
  content:'';
}
nav a {
  display: block;
  padding-top: 14px;
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-weight: 700;
  text-transform: none;
  text-decoration: none;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.07);
}
@media only screen and (max-width: 1015px) {
  nav a {
    padding-top: 25px;
  }
}
@media only screen and (max-width: 450px) {
  nav a {
    font-size: 13px;
  }
}
nav a:hover {
  border-bottom: 2px solid rgba(255, 255, 255, 0.6);
}

footer {
  position: relative;
  overflow: hidden;
  height: 300px;
  margin-top: -200px;
  z-index: 3;
}
footer p.tagline {
  z-index: 3;
  width: 100%;
  position: absolute;
  bottom: 40px;
  text-transform: none;
  font-size: 13px;
  font-weight: 800;
  color: rgba(255, 255, 255, 0.25);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.07);
}
footer p.tagline .inner {
  display: block;
  text-align: center;
  margin: 0 auto;
  max-width: 760px;
  transition: padding 0.5s, font-size 0.5s;
}
footer .shape {
  z-index: 0;
  position: absolute;
  bottom: -100px;
  left: -100px;
  width: 200%;
  height: 300px;
  rotate: -3deg;
  background: rgb(71, 118, 171);
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}
@media only screen and (max-width: 750px) {
  footer {
    height: 250px;
  }
  footer p.tagline {
    bottom: -3px;
  }
  footer p.tagline .inner {
    padding-left: 50px;
  }
}
@media only screen and (max-width: 550px) {
  footer p.tagline .inner {
    padding-left: 25px;
    font-size: 11px;
  }
}
@media only screen and (max-width: 450px) {
  footer p.tagline {
    bottom: 0;
  }
  footer p.tagline .inner {
    font-size: 8px;
  }
}


.homepage .latest h1 {
  margin-top: 0;
  margin-bottom: -0.5em;
  font-size: 32px;
}
.homepage .latest h1 a {
  color: rgb(0, 0, 0);
  font-weight: 400;
  text-decoration: none;
}
.homepage h2 {
  margin-top: 1em;
}
.homepage h2.first {
  margin-top: 0;
}
.homepage .latest a.continue {
  font-weight: bold;
}
.homepage .latest p.date {
}

.homepage .mini-archive, .homepage .charity {
  margin: 45px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.latest .date, .mini-archive .date {
  margin: 2em 0 0 0;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}
.latest .date.first {
  margin-top: 0;
}
.mini-archive .title {
  margin: 0;
  font-weight: bold;
}

ul.books{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 0;
  margin-top: 2em;
}
ul.books>li {
  overflow: hidden;
  flex: 0 0 auto;
  flex-basis: 100%;
  max-width: 23%;
  padding-left: 2.5%;
  margin: 0;
  list-style-type: none;
}
ul.books>li:first-child {
  padding-left: 0;
}
ul.books>li:before {
  display: none;
  content: ""
}
ul.books img {
  width: 97%;
  padding: 1.5%;
  box-shadow: -1px -1px 0 rgba(0, 0, 0, 0.1), 4px 4px 0 rgba(0, 0, 0, 0.05), 1px 1px 0 rgba(0, 0, 0, 0.1);
}
ul.books h3 {
  margin: 0;
  font-size: 13px;
  font-weight: 700;
  text-decoration: underline;
}
ul.books a {
  color: inherit;
}
ul.books p.author {
  margin: 0;
  font-size: 12px;
  font-style: italic;
}

@media only screen and (max-width: 450px) {
 ul.books h3 {
   font-size: 11px;
 } 
 ul.books p.author {
   font-size: 10px;
 }
}


ul.itemized{
  margin-left: 0;
  margin-bottom: 45px;
}
ul.itemized>li {
  margin: 1.5em 0 1em 0;
  padding: 15px 20px;
  list-style-type: none;
  box-shadow: -1px -1px 0 rgba(0, 0, 0, 0.05), 4px 4px 0 rgba(0, 0, 0, 0.05), 1px 1px 0 rgba(0, 0, 0, 0.05);
}
ul.itemized>li:before {
  display: none;
  content: ""
}
ul.itemized>li:first-child {
  margin-top: 0;
}
ul.itemized h3 {
  margin: 0 0 0.5em 0;
  font-size: 17px;
}
ul.itemized h3 a {
  font-weight: 700;
}
ul.itemized p {
  margin: 0;
  color: rgba(0, 0, 0, 0.8);
}
ul.itemized p a {
  color: #000;
}

.post-content img, .page-content img {
  padding: 7px;
  max-width: 100%;
  min-width: 100%;
  border: 1px solid rgb(0, 0, 0, 0.1);
  box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.05);
}
.post-content .inline-img, .page-content .inline-img {
  text-align: center;
}
.post-content .inline-img img, .page-content .inline-img img {
  min-width: 0;
  border: none;
  box-shadow: none;
}

code{
  padding: 0 4px;
  font-family: "Source Code Pro", "Courier New", Courier, sans-serif;
  font-size: 0.9em;
  color: #556270;
  background: #F4FAFF;
  border-radius: 3px;
}
pre {
  overflow: scroll;
  padding: 5px 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.05);
}
pre code {
  padding: 0;
  color: inherit;
  background: inherit;
  border-radius: 0;
}
code span.global {
  color: #3388DD;
}
code span.brackets {
  color: #777777;
}
code span.string {
  color: #BC6710;
}
code span.symbol, code span.selectors {
  color: #1199EE;
}
code span.properties {
  color: #BB4411;
}
code span.keywords {
  color: #44BB22;
}
code span.comment {
  color: #BCBCBC;
}
code span.shell {
  background:#f1f1f1;
}

code.html span.tag, code.xaml span.tag {
  color: #BB4411;
}
code.html span.attribute, code.xaml span.attribute {
  color: #44BB22;
}
code.html span.string, code.xaml span.string {
  color: blue;
}
code.html span.comment, code.xaml span.comment {
  color: #999999;
}
code.html span.doctype {
  color: #D7FF80;
}

table {
  margin: 2em 0 1em;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-collapse: separate;
  box-shadow:  4px 4px 0 rgba(0, 0, 0, 0.05), 1px 1px 0 rgba(0, 0, 0, 0.05);
}

th {
  text-align: center;
  padding: 5px;
}

td {
  text-align: left;
  padding: 5px 8px;
}
tr:nth-child(odd) td {
  background: rgba(0, 0, 0, 0.03);
}
