<!DOCTYPE html>
<html>
<head>
	<title>
	  {% if page.title %}
	    {{ page.title }} &middot; by Kyle Neath
	  {% else %}
	    Warpspire: Design &amp; Code by Kyle Neath
	  {% endif %}
	</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>
	<link rel="stylesheet" href="/css/proxima.css" type="text/css" />
	<link rel="alternate" href="http://warpspire.com/feed/" type="application/rss+xml" />
</head>
<body>

  <div class="container">
    <header>
      <ul class="nav">
        <li><a href="/about">About</a></li>
				<li><a href="/projects">Projects</a></li>
        <li class="logo"><a href="/">w</a></li>
				<li><a href="/opinion">Opinion</a></li>
        <li><a href="/talks">Talks</a></li>
      </ul>
    </header>

    {{ content }}
  </div><!-- /.main -->

  <script type="text/javascript">
  ;(function() {
  var t = document.createElement("script")
  t.type = "text/javascript"
  t.async = true
  t.id = "gauges-tracker"
  t.setAttribute("data-site-id", "4dd8683cf5a1f53796000001")
  t.src = "//secure.gaug.es/track.js"
  var s = document.getElementsByTagName("script")[0]
  s.parentNode.insertBefore(t, s)
})()
</script>
</body>
</html>
