<!DOCTYPE html>
<html>
<head>
	<title>
	  {% if page.title %}
	    {{ page.title }} &middot; by Kyle Neath
	  {% else %}
	    Warpspire: Design &amp; Code by Kyle Neath
	  {% endif %}
	</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>
	<link rel="stylesheet" href="/css/proxima.css" type="text/css" />
	<link rel="alternate" href="http://warpspire.com/feed/" type="application/rss+xml" />
  
	{% assign page_title = page.title | default: site.title %}
	{% assign page_description = page.summary | default: page.description | default: site.description %}
	{% assign page_image = page.image | default: site.image %}
	{% assign page_url = page.url | prepend: site.url %}

	<meta name="description" content="{{ page_description }}" />

	<meta property="og:title" content="{{ page_title }}" />
	<meta property="og:description" content="{{ page_description }}" />
	<meta property="og:url" content="{{ page_url }}" />
	<meta property="og:site_name" content="{{ site.title }}" />
	<meta property="og:image" content="{{ page_image }}" />
	<meta property="og:type" content="{% if page.date %}article{% else %}website{% endif %}" />

	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:title" content="{{ page_title }}" />
	<meta name="twitter:description" content="{{ page_description }}" />
	<meta name="twitter:image" content="{{ page_image }}" />

  <script src="https://cdn.usefathom.com/script.js" data-site="ASWRNHKL" defer></script>
</head>
<body>

  <div class="container">
    <header>
      <ul class="nav">
        <li><a href="/about">About</a></li>
				<li><a href="/projects">Projects</a></li>
        <li class="logo"><a href="/proxima">w</a></li>
				<li><a href="/opinion">Opinion</a></li>
        <li><a href="/talks">Talks</a></li>
      </ul>
    </header>

    {{ content }}
  </div><!-- /.main -->
</body>
</html>
