<!DOCTYPE html>
<html>
<head>
	<title>
	  {% if page.title %}
	    {{ page.title }} &mdash; Warpspire
	  {% else %}
	    Warpspire: Web, Design &amp; Code Geekery
	  {% endif %}
	</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />

	<script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>
	<link rel="stylesheet" href="/css/base.css" type="text/css" />
	<link rel="alternate" href="http://feeds.feedburner.com/warpspire" type="application/rss+xml" />
	<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-146426-5']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</head>
<body>
  <div class="sidebar">
    <a href="/" class="logo"><img src="/images/logo.gif" alt="Warpspire" width="203" height="63" /></a>

    <ul class="nav">
      <li><a href="/">Home</a></li>
      <li><a href="/talks">Talks &amp; Presentations</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/ask">Ask me a question</a></li>
    </ul>

    <p>My name is Kyle Neath. I&rsquo;m a designer in San Francisco and I work at <a href="http://github.com" target="_blank">GitHub</a>.</p>
    <p>You can find me as <strong>@kneath</strong> on <a href="http://twitter.com/kneath" class="twitter">Twitter</a>, <a href="https://github.com/kneath">GitHub</a>, <a href="http://dribbble.com/players/kneath">Dribbble</a> and pretty much everywhere else.</p>
  </div><!-- /.sidebar -->

  <div class="main">
    {{ content }}
  </div><!-- /.main -->

  <script type="text/javascript">
    (function() {
      var t   = document.createElement('script');
      t.type  = 'text/javascript';
      t.async = true;
      t.id    = 'gauges-tracker';
      t.setAttribute('data-site-id',
                     '4dd8683cf5a1f53796000001');
      t.src = '//secure.gaug.es/track.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(t, s);
    })();
  </script>
</body>
</html>