<!DOCTYPE html>
<html>
<head>
	<title>
	  {% if page.title %}
	    {{ page.title }} &mdash; Warpspire
	  {% else %}
	    Warpspire: Web, Design &amp; Code Geekery
	  {% endif %}
	</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />

	<script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>
	<link rel="stylesheet" href="/css/base.css" type="text/css" />
	<link rel="alternate" href="http://feeds.feedburner.com/warpspire" type="application/rss+xml" />
	<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-146426-5']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</head>
<body>
  <div class="sidebar">
    <a href="/" class="logo"><img src="/images/logo.gif" alt="Warpspire" width="203" height="63" /></a>

    <ul class="nav">
      <li><a href="/">Home</a></li>
      <li><a href="/talks">Talks &amp; Presentations</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/ask">Ask me a question</a></li>
    </ul>

    <p>My name is Kyle Neath. I&rsquo;m a designer in San Francisco and I work at <a href="http://github.com" target="_blank">GitHub</a>.</p>
    <p>You can find me as <strong>@kneath</strong> on <a href="http://twitter.com/kneath" class="twitter">Twitter</a>, <a href="https://github.com/kneath">GitHub</a>, <a href="http://dribbble.com/players/kneath">Dribbble</a> and pretty much everywhere else.</p>
  </div><!-- /.sidebar -->

  <div class="main">
    {{ content }}
  </div><!-- /.main -->

  <script type="text/javascript">
  var _sf_async_config={uid:2599,domain:"warpspire.com"};
  (function(){
    function loadChartbeat() {
      window._sf_endpt=(new Date()).getTime();
      var e = document.createElement('script');
      e.setAttribute('language', 'javascript');
      e.setAttribute('type', 'text/javascript');
      e.setAttribute('src',
         (("https:" == document.location.protocol) ? "https://a248.e.akamai.net/chartbeat.download.akamai.com/102508/" : "http://static.chartbeat.com/") +
         "js/chartbeat.js");
      document.body.appendChild(e);
    }
    var oldonload = window.onload;
    window.onload = (typeof window.onload != 'function') ?
       loadChartbeat : function() { oldonload(); loadChartbeat(); };
  })();

  </script>
</body>
</html>